
@font-face {
    font-family: "NAUSS-Bold";
    src: url($font-path + "NAUSS-Bold.otf");
  }
  @font-face {
    font-family: "nauss-medium";
    src: url($font-path + "nauss-medium.otf");
  }
  @font-face {
    font-family: "nauss-regular";
    src: url($font-path + "nauss-regular.otf");
  }
  @font-face {
    font-family: "nauss-light";
    src: url($font-path + "nauss-light.otf");
  }
  /* start */
  @font-face {
    font-family: "Almarai-ExtraBold";
    src: url($font-path + "Almarai-ExtraBold.ttf");
  }
  @font-face {
    font-family: "Almarai-Bold";
    src: url($font-path + "Almarai-Bold.ttf");
  }
  @font-face {
    font-family: "Almarai-Regular";
    src: url($font-path + "Almarai-Regular.ttf");
  }
  @font-face {
    font-family: "Almarai-Light";
    src: url($font-path + "Almarai-Light.ttf");
  }
  /* end */
  @font-face {
    font-family: "GretaTextArabicARLT-Bold";
    src: url($font-path + "GretaTextArabicARLT-Bold.ttf");
  }
  @font-face {
    font-family: "GretaTextArabicARLT-Medium";
    src: url($font-path + "GretaTextArabicARLT-Medium.ttf");
  }
  @font-face {
    font-family: "GretaTextArabicARLT-Regular";
    src: url($font-path + "GretaTextArabicARLT-Regular.ttf");
  }
  @font-face {
    font-family: "GretaTextArabicARLT-light";
    src: url($font-path + "GretaTextArabicLight2.ttf");
  }
